/**
 * Bars CSS
 * Droppin' Bars - A Simple CSS Responsive Grid 
 * by @antoniocapelo.
 */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bars-container {
    width : 100%;
    margin: 0 auto;
    max-width : 960px; 
    text-rendering: optimizespeed /* emphasizes rendering speed over legibility and geometric precision */
}

// /* Bar Class selector */
// [class*='bar-'] {
//   float: left;
//   min-height: 1px; /* avoid stacking of columns when one is empty*/
//   padding: 10px;
// }

// /* Floating last ".bar-" to the right */
// [class^='bar-']:last-of-type {
//   padding-right: 0;
//   /*float: right;*/
// }

%bar-behaviour {
  float: left;
  min-height: 1px; /* avoid stacking of columns when one is empty*/
  padding: 10px;

  &:last-of-type {
    padding-right: 0;
  }
}

%bar-behaviour-mobile {
  &:last-of-type {
    padding-right: 10px;
  }
}
 
/* Clearfixes */
.drop:before,
.drop:after {
  content: "";
  display: table;
  clear: both;
}

/* Main Widths */
.bar-1  {width: 8.33333%; @extend %bar-behaviour; }
.bar-2  {width: 16.66667%; @extend %bar-behaviour; }
.bar-3  {width: 25%; @extend %bar-behaviour; }
.bar-4  {width: 33.33333%; @extend %bar-behaviour; }
.bar-5  {width: 41.66667%; @extend %bar-behaviour; }
.bar-6  {width: 50%; @extend %bar-behaviour; }
.bar-7  {width: 58.33333%; @extend %bar-behaviour; }
.bar-8  {width: 66.66667%; @extend %bar-behaviour; }
.bar-9  {width: 75%; @extend %bar-behaviour; }
.bar-10 {width: 83.33333%; @extend %bar-behaviour; }
.bar-11 {width: 91.66667%; @extend %bar-behaviour; }
.bar-12 {width: 100%; @extend %bar-behaviour; }

.hide-desktop {
  display: none;
}

/** Utils **/

.bar-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bar-center {
  text-align: center;
}

/* Responsive Break Points */

$mobile-break      : 724px;
$tablet-break      : $mobile-break + 1px;
$desktop-break     : 960px      ;


/* Tablet */
@media (min-width: $tablet-break) and (max-width: $desktop-break) {

  .bars-container {
      max-width: 725px;
  }

  .hide-tablet {
    display: none;
  }

  .hide-desktop {
    display: block;
  }
}

/* Mobile */
@media (max-width: $mobile-break) {

  .bars-container {
      max-width: 724px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  /* Resizing main */
  .bar-1, .bar-2, .bar-3, .bar-4, .bar-5, .bar-6, .bar-7, .bar-8, .bar-9, .bar-10, .bar-11 {
    width: 100%; @extend %bar-behaviour-mobile;
  }

  .bar-1-mobile  { width: 8.33333%;  }
  .bar-2-mobile  { width: 16.66667%; }
  .bar-3-mobile  { width: 25%;       }
  .bar-4-mobile  { width: 33.33333%; }
  .bar-5-mobile  { width: 41.66667%; }
  .bar-6-mobile  { width: 50%;       }
  .bar-7-mobile  { width: 58.33333%; }
  .bar-8-mobile  { width: 66.66667%; }
  .bar-9-mobile  { width: 75%;       }
  .bar-10-mobile { width: 83.33333%; }
  .bar-11-mobile { width: 91.66667%; }
  .bar-12-mobile { width: 100%;      }
}